.cart {
  padding-top: 20px;
  margin-bottom: 100px;
}
.title {
  margin: 0px 0px 15px;
  padding: 5px 0px 0px;
}
.title h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  color: rgb(0, 0, 0);
  line-height: 28px;
  text-transform: uppercase;
}
.heading {
  background: rgb(255, 255, 255);
  padding: 9px 16px;
  border-radius: 4px;
  color: rgb(36, 36, 36);
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 12px;
  position: sticky;
  top: 20px;
  z-index: 99;
}
.heading::before {
  content: "";
  background: rgb(244, 244, 244);
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -20px;
  right: 0px;
}
.heading::after {
  content: "";
  background: rgb(244, 244, 244);
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0px;
}
.row {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.checkbox {
  color: rgb(36, 36, 36);
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox input[type="checkbox"] {
  /* position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0; */
  width: 18px;
  height: 18px;
  border: 1px solid rgb(36, 36, 36);
  margin-right: 16px;
}
/* .checkbox_fake{
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
    position: relative;
    z-index: 1;
    color: rgb(196, 196, 207);
    background: transparent;
    cursor: pointer;
} */
.label {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.remove_all {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  z-index: 2;
}
.remove_all img {
  vertical-align: middle;
  margin-top: 2px !important;
}

.wrapper_items {
  padding: 9px 16px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}
.intended__images {
  display: flex;
}
.intended__img {
  display: inline-block;
  cursor: pointer;
}
.intended__checkbox {
  position: relative;
  top: 35px;
}
.intended__content {
  width: calc(100% - 100px);
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}
.intended__name {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 13px;
  color: rgb(36, 36, 36);
  margin-bottom: 5px;
  line-height: 20px;
  word-break: break-word;
}
.intended__real_prices {
  font-weight: 500;
  color: rgb(36, 36, 36);
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
.intended__final_prices {
  color: rgb(255, 66, 78);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  display: block;
}
.price {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
.price__item {
  padding: 17px 20px;
  border-bottom: 1px solid rgb(244, 244, 244);
}

.price__total {
  padding: 17px 20px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
.price__text {
  font-weight: 300;
  color: rgb(51, 51, 51);
  display: inline-block;
  line-height: 33px;
}
.price__content{
  text-align: right;
}
.price__value__final{
  color: rgb(254, 56, 52);
  font-size: 22px;
  font-weight: 400;
  text-align: right;
}
.empty__cart{
  background: rgb(255, 255, 255);
  padding: 40px 20px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1260px) {
  .col_1 {
    width: 398px;
    padding: 0px 15px;
  }
  .col_2 {
    width: 190px;
    padding: 0px 15px;
  }
  .col_3 {
    width: 130px;
    padding: 0px 15px;
  }
  .col_4 {
    width: 120px;
    padding: 0px 15px;
  }
  .col_5 {
    width: 50px;
    text-align: right;
  }
  .price__wrapper{
    margin-top: 48px;
  }
 
}
@media (min-width: 768px) and (max-width: 1260px) {
  .col_1 {
    width: 373px;
    padding: 0px 15px;
  }
  .col_2 {
    width: 185px;
    padding: 0px 15px;
  }
  .col_3 {
    width: 115px;
    padding: 0px 15px;
  }
  .col_4 {
    width: 145px;
    padding: 0px 15px;
  }
  .col_5 {
    width: 0px;
    text-align: right;
  }
  .price__wrapper{
    margin-top: 48px;
  }
}
@media  (max-width: 767px) {
  .col_1 {
    width: 373px;
    padding: 0px 15px;
  }
  .col_2 {
    width: 185px;
    padding: 0px 15px;
  }
  .col_3 {
    width: 115px;
    padding: 0px 15px;
  }
  .col_4 {
    width: 145px;
    padding: 0px 15px;
  }
  .col_5 {
    width: 0px;
    text-align: right;
  }
  .price__wrapper{
    margin-top: 48px;
  }
}
